<link rel="stylesheet" href="css/securityCustom.css"/>
<script src="js/jquery.bootstrap.wizard.js"></script>
<script src="js/securirtyCustomGZ.js"></script>

<style type="text/css">

    .member_photo_thumb{
        width:150px;
        height:150px;
    }

    .member_photo_thumb img{
        width:140px;
        height:140px;
    }

    .spinner {
        width: 0px;
    }


    .ztree li span.button.linecons-truck_ico_open, .linecons-truck_ico_close, .linecons-truck_ico_docu {
        font-family: linecons;
        font-style: normal;
        font-weight: 400;
        speak: none;
        display: inline-block !important;
        text-decoration: inherit;
        width: 1.2em !important;
        margin-right: .2em !important;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em !important;
        margin-left: .2em !important;
        background-image: none !important;
    }

    .linecons-truck_ico_open:before, .linecons-truck_ico_close:before, .linecons-truck_ico_docu:before {
        content: '\e829';
    }

    /*人的样式*/
    .ztree li span.button.linecons-hum_ico_open, .linecons-hum_ico_close, .linecons-hum_ico_docu {
        font-family: linecons;
        font-style: normal;
        font-weight: 400;
        speak: none;
        display: inline-block !important;
        text-decoration: inherit;
        width: 1.2em !important;
        margin-right: .2em !important;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em !important;
        margin-left: .2em !important;
        background-image: none !important;
    }

    .linecons-hum_ico_open:before, .linecons-hum_ico_close:before, .linecons-hum_ico_docu:before {
        content: '\e805';
    }

    /*公司的样式*/
    .ztree li span.button.linecons-comp_ico_open, .linecons-comp_ico_close, .linecons-comp_ico_docu {
        font-family: linecons;
        font-style: normal;
        font-weight: 400;
        speak: none;
        display: inline-block !important;
        text-decoration: inherit;
        width: 1.2em !important;
        margin-right: .2em !important;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em !important;
        margin-left: .2em !important;
        background-image: none !important;
    }

    .linecons-comp_ico_open:before, .linecons-comp_ico_close:before, .linecons-comp_ico_docu:before {
        content: '\e82c';
    }

    /*部门的样式*/
    .ztree li span.button.linecons-dept_ico_open, .linecons-dept_ico_close, .linecons-dept_ico_docu {
        font-family: linecons;
        font-style: normal;
        font-weight: 400;
        speak: none;
        display: inline-block !important;
        text-decoration: inherit;
        width: 1.2em !important;
        margin-right: .2em !important;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em !important;
        margin-left: .2em !important;
        background-image: none !important;
    }

    .linecons-dept_ico_open:before, .linecons-dept_ico_close:before, .linecons-dept_ico_docu:before {
        content: '\e80c';
    }

    /*根节点样式*/
    .ztree li span.button.linecons-root_ico_open, .linecons-root_ico_close, .linecons-root_ico_docu {
        font-family: linecons;
        font-style: normal;
        font-weight: 400;
        speak: none;
        display: inline-block !important;
        text-decoration: inherit;
        width: 1.2em !important;
        margin-right: .2em !important;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em !important;
        margin-left: .2em !important;
        background-image: none !important;
    }

    .linecons-root_ico_open:before, .linecons-root_ico_close:before, .linecons-root_ico_docu:before {
        content: '\e820';
    }

</style>


<script type="text/javascript">
    //是否变化标识
    (function ($) {
        /*初始化通讯录树*/
        KendoTreeView.init("securityUnitT/findUnitByUserInfo", "treeview", $("#infoSearch"));
        GUID.setTreeViewObj(KendoTreeView.show());

    })(jQuery);

</script>

<!--最外层容器-->
<div class="page-container">
    <!--页面头部定义 1、标题 2、导航定义-->
    <!--<div class="page-title">
        &lt;!&ndash;标题定义&ndash;&gt;
        <div class="title-env">
            <h1 class="title">通讯录维护向导</h1>
            <p class="description">进行组织机构、人员、角色及账号的维护操作</p>
        </div>
        &lt;!&ndash;导航定义&ndash;&gt;
        <div class="breadcrumb-env">
            <ol class="breadcrumb bc-1">
                <li>
                    <a href="javascript:void(0)"><i class="fa-home"></i>系统管理</a>
                </li>
                <li class="active">
                    <strong>新增向导</strong>
                </li>
            </ol>
        </div>
    </div>-->
    <!--页体定义 1、左侧通讯录树 2、右侧内容展现区-->
    <section class="gallery-env">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="DFTree" style="margin-top: 15px;padding: 0 20px;">
                        <!--<div class="input-group input-group-minimal">-->
                        <!--<input type="text" class="form-control" >-->
                        <!--<div class="input-group-addon">-->
                        <!--<a href="javascript:;"><i class="linecons-search"></i></a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div id="treeview" class="ztree"></div>
                    </div>
                </div>
            </div>
            <!--右侧内容展现区-->
            <div class="col-sm-9 gallery-right">
                <div>
                    <div style="width: 100%"
                         id="showCompany" class="album-header">
                    </div>
                </div>

                <div id="showResource" style="display: none">

                    <div style="width: 100%"
                          class="album-header">

                        <div class="panel-heading">
                            <h3 class="panel-title">资源列表</h3>
                        </div>
                        <table id="resourceTable" class="table  table-bordered table-hover" cellspacing="0"
                               width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        <!--<input type="checkbox" class="cbr">-->
                                    </th>
                                    <th>资源类型</th>
                                    <th>资源名称</th>
                                    <th>修改日期</th>
                                    <th>修改人</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------模块共享变量区---------------------------------------->

    <!--操作类型 0修改 1新增-->
    <input style="display: none" id="flag">
    <!--全局共享，组织机构ID-->
    <input style="display:none" id="forUnitId">
    <!--公司类型 0公司 1部门-->
    <input style="display: none" id="forCompType">
    <!--操作类型 0修改 1新增-->
    <input style="display:none" id="operType"/>
    <!--角色ID-->
    <input style="display:none" id="forRoleId"/>
    <!--为新增单位服务，如果是0隐藏单位类型字段，如果是1，显示单位类型-->
    <input style="display: none" id="forType"/>

    <!--<input style="display:none" id="forUserId"/>-->
</div>

<script type="text/template" id="guidForm">
    <!--页面展现主区-->
    <form role="forl" id="rootwizard" class="form-wizard">
        <!--定义tab标题-->
        <ul class="tabs">
            <li class="active" style="background-color:#8dc63f;position: relative;"
            >
                <i style="background: url(img/sort.png) 0px 0px no-repeat;width:14px;height:40px;position:
                        absolute;top: 0px;left: 50px;"></i>
                <span
                        style="font-size:18px;color: #fff;position: absolute;left: 20px;top: 8px;font-weight: bold;font-family: Verdana;font-style: normal;">1
                </span>
                <a href="#fwv-1" data-toggle="tab" style="color:#fff;font-weight: bold;font-family: Verdana;">
                    配置人员基本信息
                    <span style="display: none;">1</span>
                </a>
            </li>
            <li style="background-color:#BFBFBF;position: relative;">
                <i style="background: url(img/sort.png) -28px 0px no-repeat;width:14px;height:40px;position:
                        absolute;top: 0px;left: 50px;"></i>
                <span
                        style="font-size:18px;color: #D4D4D4;position: absolute;left: 20px;top: 8px;font-weight: bold;font-family: Verdana;font-style: normal;">2
                </span>
                <a href="#fwv-2" data-toggle="tab" style="color:#D4D4D4;font-weight: bold;font-family: Verdana;">
                    角色配置
                    <span style="display: none;">2</span>
                </a>
            </li>
            <li style="background-color:#BFBFBF;position: relative;">
                <i style="background: url(img/sort.png) -28px 0px no-repeat;width:14px;height:40px;position:
                        absolute;top: 0px;left: 50px;"></i>
                <span
                        style="font-size:18px;color: #D4D4D4;position: absolute;left: 20px;top: 8px;font-weight: bold;font-family: Verdana;font-style: normal;">3
                </span>
                <a href="#fwv-3" data-toggle="tab" style="color:#D4D4D4;font-weight: bold;font-family: Verdana;">
                    登录账号分配
                    <span style="display: none;">3</span>
                </a>
            </li>
        </ul>
        <div class="progress-indicator">
            <span></span>
        </div>
        <!--定义tab内容-->
        <div class="tab-content no-margin">
            <!--1、加载树（单选树） 2、支持树的维护功能（新增、修改、删除）-->
            <div class="tab-pane with-bg active" id="fwv-1">
                <section class="gallery-env">
                    <div class="row">
                        <!--用户基本信息-->
                        <div class="col-sm-12 gallery-left">
                            <div class="gallery-sidebar">
                                <div class="panel form-group no-margin">
                                    <div id="userInfo" class="customer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--2、为上一个sheet页选择的人员指定角色；页面包含两部分区域：左侧的角色列表信息、右侧的菜单树信息-->
            <div class="tab-pane with-bg" id="fwv-2">
                <div class="row">
                    <!--左侧的角色列表（根据第一个标签页的所选择人员查询对应的公司的角色列表）
                    1、包含对角色的定义功能-->

                    <div class="col-sm-8 gallery-left">
                        <div class="gallery-sidebar">
                            <div class="panel form-group no-margin">
                                <form class="validate" id="securityRoleListForm">
                                    <span style="color: red;font-weight: bold">
                                        可见角色为：所选用户所属的单位定义的角色+指定给当前登录用户的角色+分配给当前登录用户的角色资源；如果当前登录用户具备超级管理员角色，看见所有角色</span>
                                    <table id="roleListTable" class="table  table-bordered table-hover" cellspacing="0"
                                           width="100%">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>角色名称</th>
                                            <th class="width130">操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--右侧的菜单树（根据列表选择的行，对应的角色展现树对应的已选菜单内容）
                    包含功能：
                    1、包含保存按钮，对当前角色所包含的菜单进行维护-->
                    <!--<div class="col-sm-4 gallery-right">-->
                    <!--<div id="roleTree">-->

                    <!--</div>-->
                    <!--</div>-->
                    <div class="DFTree col-sm-4" style="margin-top: 15px;padding: 0 20px;">
                        <div id="roleTree" class="ztree"></div>
                    </div>
                </div>
            </div>
            <!--3、为人员分配账号信息-->
            <div class="tab-pane with-bg" id="fwv-3">
                <!--对第一步选择的人员进行账号的分配-->
                <div class="row">
                    <div class="col-sm-12 gallery-left">
                        <div class="gallery-sidebar">
                            <div class="panel form-group no-margin">
                                <div style="width: 100%"
                                     id="accountContent" class="album-header"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 导航底部的按钮区域 -->
            <ul class="pager wizard">
                <!--上一页-->
                <li class="previous">
                    <a href="#"><i class="entypo-left-open"></i> 上一步</a>
                </li>
                <!--下一页-->
                <li class="next" id="nextBT">
                    <a href="#">保存&下一步 <i class="entypo-right-open"></i></a>
                </li>
                <!--保存-->
                <li id="saveAccountBt" style="float:right;margin-right:2px;">
                    <a href="#">完成 <i class="entypo-right-open"></i></a>
                </li>
            </ul>
        </div>
    </form>
</script>

<script type="text/template" id="securityUserTAccountForm">


    <form class="validate" id="securityUserTAccountFormU">
        <input type="text" style="display: none" id="userIdN" name="userIdN">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="userAccount" class="control-label">账号</label>
                            <input name="userAccount" class="form-control" id="userAccount"
                                   placeholder="" maxlength="20" required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="passwd" class="control-label">密码</label>
                            <input type="password" name="passwd" class="form-control" id="passwd"
                                   placeholder="" maxlength="20" required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="passwdconfirm" class="control-label">密码确认</label>
                            <input type="password" name="passwdconfirm" class="form-control" id="passwdconfirm"
                                   placeholder="" maxlength="20" required="true" equalTo="#passwd">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="member_photo_thumb" style="cursor: hand">
                            <img src="img/user-bg.png" name="addimg" img-type="WASH_AFFIX"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </form>
    <script type="text/javascript">
        <![CDATA[
        //是否变化标识
        (function ($) {
            //更新用户头像
            function updateUserImg(imgPath,userId){
                var securityUserT = {
                    userId:userId,
                    portrait:imgPath
                }

                DF.ajax({
                    url:'service/securityUserT/updateUserImg',
                    type:'put',
                    data:JSON.stringify(securityUserT),
                    success:function(data){
                        if(data.errorCode!='1'){
                            DF.toast.error("头像更新失败");
                        }
                    },
                    error:function(data){
                        DF.toast.error("头像更新失败");
                    }
                })
            }

            //加载头像
            DF.ajax({
                url:'service/securityUserT/getUserById/'+$("#userId").val(),
                type:'get',
                success:function(data){
                    if(data.result.portrait!=null){
                        $('img[name=addimg]').attr('src',data.result.portrait);
                    }
                }
            })


            $('img[name=addimg]').on('click',function(){
                var $this = this;
                (function(s){
                    var  imgType = $(this).attr("img-type");
                    DF.createWindow({
                        id: 'portraitUpload',
                        codes: {
                            crop:true,
                            imgDesc: "头像",
                            moduleName: imgType,
                            desc: '上传瑕疵照片'
                        }
                    }, function (exp, modal) {
                        console.log($this);
                        var imgPath = exp.getImgObj().path;
                        var userId = $("#userId").val();
                        updateUserImg(imgPath,userId);
                        $($this).attr("src",exp.getImgData());
                        DF.hideModal(modal);
                    });
                })($this);
            })
        })(jQuery);
        ]]>
        </script>
</script>

<!--用户基本信息模板-->
<script type="text/template" id="securityUserTForm">
    <form class="validate" id="securityUserTFormU">
        <input id="belongOrg" name="belongOrg" style="display: none">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <input type="button" value="删除" class="btn btn-danger pull-left" id="delPBtn" name="delPBtn">
                    <input type="button" value="资源配置" class="btn btn-info pull-left" id="contentResources" name="contentResources">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group hidden">
                    <label class="control-label"></label>
                    <input type="text" name="userId" id="userId">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="userName" class="control-label">姓名</label>
                    <input type="text" name="userName" class="form-control" id="userName"
                           placeholder="" maxlength="10" required="true">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="linkWay" class="control-label">联系电话</label>
                    <input type="text" name="linkWay" class="form-control" id="linkWay"
                           placeholder="" maxlength="11" required="true" phoneNo="true">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="emailAddr" class="control-label">邮箱地址</label>
                    <input type="text" name="emailAddr" class="form-control" id="emailAddr"
                           placeholder="" maxlength="50" required="true" email="true">
                </div>
            </div>
        </div>
        <div class="row hidden">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="contentResource" class="control-label">包含资源</label>
                    <input type="text" name="contentResource" contentResourceId="" module="" class="form-control"
                           id="contentResource"
                           placeholder="" maxlength="1000">
                </div>
            </div>
        </div>
        <div class="row hidden">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="contentUnit" class="control-label">管理机构</label>
                    <input type="text" name="contentUnit" contentUnitId="" module="" class="form-control"
                    id="contentUnit" placeholder="" maxlength="1000">
                </div>
            </div>
        </div>

        <div class="row hidden">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="contentResources" class="control-label">资源配置</label>
                        <input type="text" contentUnitId="" module="" class="form-control"
 placeholder="" maxlength="1000">
                </div>
            </div>
        </div>
    </form>

</script>


<script type="text/template" id="securityUnitTForm">
    <form class="validate" id="unitForm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <input type="button" value="新增单位" class="btn btn-success pull-left icon-right"
                           name="appendNodeToSelected"
                           id="appendNodeToSelected">
                    <input type="button" value="新增人员" class="btn btn-success pull-left"
                           name="appendHumNodeToSelected" id="appendHumNodeToSelected">
                    <input type="submit" value="保存" class="btn btn-info pull-left" name="saveBtn" id="saveBtn">
                    <input type="button" value="删除" class="btn btn-danger pull-left" name="delBtn" id="delBtn">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group hidden">
                    <label class="control-label"></label>
                    <input type="text" name="unitId" id="unitId">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="parentId" class="control-label">上级单位</label>
                    <select class="form-control" id="parentId" name="parentId" required="true" disabled="disabled">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="type" class="control-label">组织机构类型</label>
                    <select class="form-control" id="type" name="type" required="true" disabled="disabled">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="type" class="control-label">单位类型</label>
                    <select class="form-control" id="compType" name="compType" required="true">
                        <option value="0">公司</option>
                        <option value="1">部门</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin"
                     style="border-bottom-color: #A9A9A9 ! important; border-bottom-style: solid; border-bottom-width: 1px ! important; margin-bottom: 20px ! important;">
                    <label for="unitName" class="control-label">组织机构名称</label>
                    <input type="text" name="unitName" class="form-control" id="unitName"
                           placeholder="" maxlength="20" required="true">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="appId" class="control-label">订阅号AppId</label>
                    <input type="text" name="appId" class="form-control" id="appId"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="secretKey" class="control-label">订阅号密钥</label>
                    <input type="text" name="secretKey" class="form-control" id="secretKey"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="appIdAccount" class="control-label">订阅号账号</label>
                    <input type="text" name="appIdAccount" class="form-control" id="appIdAccount"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin"
                     style="border-bottom-color: #A9A9A9 ! important; border-bottom-style: solid; border-bottom-width: 1px ! important; margin-bottom: 20px ! important;">
                    <label for="appIdPwd" class="control-label">订阅号密码</label>
                    <input type="password" name="appIdPwd" class="form-control" id="appIdPwd"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="appIdF" class="control-label">服务号appId</label>
                    <input type="text" name="appIdF" class="form-control" id="appIdF"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="secretKeyF" class="control-label">服务号密钥</label>
                    <input type="text" name="secretKeyF" class="form-control" id="secretKeyF"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="appIdFAccount" class="control-label">服务号账号</label>
                    <input type="text" name="appIdFAccount" class="form-control" id="appIdFAccount"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin"
                     style="border-bottom-color: #A9A9A9 ! important; border-bottom-style: solid; border-bottom-width: 1px ! important; margin-bottom: 20px ! important;">
                    <label for="appIdFPwd" class="control-label">服务号密码</label>
                    <input type="password" name="appIdFPwd" class="form-control" id="appIdFPwd"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="appIdQ" class="control-label">企业AppId</label>
                    <input type="text" name="appIdQ" class="form-control" id="appIdQ"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="secretKeyQ" class="control-label">企业密钥</label>
                    <input type="text" name="secretKeyQ" class="form-control" id="secretKeyQ"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="appIdQAccount" class="control-label">企业号账号</label>
                    <input type="text" name="appIdQAccount" class="form-control" id="appIdQAccount"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin"
                     style="border-bottom-color: #A9A9A9 ! important; border-bottom-style: solid; border-bottom-width: 1px ! important; margin-bottom: 20px ! important;">
                    <label for="appIdQPwd" class="control-label">企业号密码</label>
                    <input type="password" name="appIdQPwd" class="form-control" id="appIdQPwd"
                           placeholder="" maxlength="50">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="clientId" class="control-label">腾讯企业邮箱账户</label>
                    <input type="text" name="clientId" class="form-control" id="clientId"
                           placeholder="" maxlength="30">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin"
                     style="border-bottom-color: #A9A9A9 ! important; border-bottom-style: solid; border-bottom-width: 1px ! important; margin-bottom: 20px ! important;">
                    <label for="clientSecret" class="control-label">腾讯企业邮箱密钥</label>
                    <input type="password" name="clientSecret" class="form-control" id="clientSecret"
                           placeholder="" maxlength="40">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group hidden">
                    <label for="col1Col4s" class="control-label">key</label>
                    <input type="text" name="col1Col4s" id="col1Col4s" class="form-control"
                           placeholder="" maxlength="20">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="col2Col4s" class="control-label">业务所在地</label>
                    <input type="text" name="col2Col4s" class="form-control" id="col2Col4s" required="true"
                           placeholder="" maxlength="20">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="sortId" class="control-label">排序</label>
                    <input type="text" name="sortId" class="form-control" id="sortId"
                           placeholder="" maxlength="20">
                </div>
            </div>
        </div>
    </form>


</script>


<!-- Basic Setup  End-->
<script type="text/template" id="securityRoleTForm">
    <form class="validate">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group hidden">
                    <label class="control-label"></label>
                    <input type="text" name="roleId">
                    <input style="display:none" id="forMenuId" name="menus" required="true"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="roleName" class="control-label">角色名称</label>
                    <input type="text" name="roleName" class="form-control" id="roleName"
                           placeholder="" maxlength="20" required="true">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label for="menuTree" class="control-label">包含菜单</label>

                <div class="DFTree" style="margin-top: 15px;padding: 0 20px;">
                    <!--<div class="input-group input-group-minimal">-->
                    <!--<input type="text" class="form-control" >-->
                    <!--<div class="input-group-addon">-->
                    <!--<a href="javascript:;"><i class="linecons-search"></i></a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div id="menuTree" class="ztree"></div>
                </div>
            </div>
        </div>
    </form>

</script>

<!--  头像上传 剪裁 BEGIN -->
<script type="text/template" id="portraitUpload">
    <div class="row" style="padding: 20px;text-align: center;min-height: 270px;">
        <div class="col-sm-5 {{if crop==0 || crop ==undefined }}hidden{{/if}}">
            <div class="photo_thumb_area" style="text-align: center;padding: 10px;">
                <img  src="img/user-bg.png" class="thumb-img" style="width: 100px;"/>
                <p style="margin:10px 0 0;">预览</p>
            </div>
            <div class="file_button_area" style="text-align: center">
                <button name="create" type="button" class="btn btn-success icon-right" id="selectPhoto">本地文件 <i class="linecons-user"></i></button>
                <button name="takePhoto" type="button" class="btn btn-success icon-right hidden" id="snap">摄像头 <i class="linecons-camera"></i></button>
            </div>
        </div>
        <div class="col-sm-7" style="display: inline-block;float: none">
            <div class="photo_area {{if crop==0 || crop ==undefined }}hidden{{/if}}"  style="margin-left: 22px;">
                <div src="" class="imageBox" id="avatar" style="width: 340px; height: 270px;">
                    <div class="thumbBox"></div>
                    <div class="spinner"></div>
                    <input type="file" id="upload-file" class="hidden">
                </div>
                <button name="takePhoto" type="button" class="btn btn-info icon-right mt10 hidden" df-click="uploadImgClick"> 剪切 <i class="fa fa-cut"></i></button>
            </div>
            <div class="photo_area {{if crop==1}}hidden{{/if}}" style="width: 340px; height: 270px;background: #eee;margin-left: 22px;" >
                <img src="" class="" style="width: 100%;height: 100%;">
            </div>
            <div>
                <video id="video" class="hidden" style="width: 340px; height: 270px;" autoplay>
                </video>
                <button name="takePhoto" type="button" class="btn btn-success icon-right hidden" id="ok"> ok <i class="fa fa-check-circle"></i></button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        <![CDATA[
        (function ($) {
            var selector = '{{id}}';
            var imgInfo = null;
            var imgDesc = '{{imgDesc}}';
            var crop = Boolean({{crop}});
            var exports = {},
                    button = $('#selectPhoto'),
                    cropper,
                    fileType,
                    moduleName='securityUser',
                    options = {
                        thumbBox: '.thumbBox',
                        spinner: '.spinner'
                    };
            var uploadImgUrl = 'uploadImg/uploadImgDb/'+moduleName+'/'+imgDesc;
            var isShowLocal =true;
            if('{{isShowLocal}}'=='1'){
                isShowLocal = false;
            }

            if(!isShowLocal){
                $("#selectPhoto").hide();
            }

            DF.event.addEvent('uploadImgClick',function(){
                if(cropper){
                    fileType = 'png';
                    $('.thumb-img').attr('src',cropper.getDataURL());
                    uploadImgFunction(uploadImgUrl+'/'+fileType,cropper.getDataURL());
                }
            });
            //判断是什么浏览器 如果有window.FileReader对象 不走后台
            if(window.FileReader){
                $('#upload-file').on('change', function(){
                    var $this = $(this);
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var result = e.target.result;
                        if(crop){
                            options.imgSrc = result;
                            cropper = $('.imageBox').cropbox(options);
                            $('button[df-click=uploadImgClick]').removeClass('hidden');
                            $('.photo_area').last().addClass('hidden');
                            fileType = getFileExt($this.val());
                            $('#video').addClass('hidden').attr('src','');
                            $('#ok').addClass('hidden');
                        }else{
                            $('img','.photo_area').attr('src',result).parent().removeClass('hidden');
                            $('#video').addClass('hidden').attr('src','');
                            $('#ok').addClass('hidden');
                            $('.thumb-img').attr('src',result);
                            fileType = getFileExt($this.val());
                            uploadImgFunction(uploadImgUrl+'/'+fileType,$('.thumb-img').attr('src'));
                        }
                    }
                    reader.readAsDataURL(this.files[0]);
                    this.files = [];
                })
                button.click(function(){
                    $('#upload-file').trigger('click');
                });
            }else{
                var url = '/uploadImg/personal';
                new AjaxUpload(button, {
                    action: url,
                    data: {},
                    name: 'file',
                    onSubmit: function(file, ext) {
                        if (!(ext && /^(jpg|JPG|png|PNG|gif|GIF)$/.test(ext))) {
                            alert("您上传的图片格式不对，请重新选择！");
                            return false;
                        }
                    },
                    onComplete: function(file, response) {
                        var flagValue = response;
                        if (flagValue == "1") {
                            alert("您上传的图片格式不对，请重新选择！");
                        }
                        else if (flagValue == "2") {
                            alert("您上传的图片大于200K，请重新选择！");
                        }
                        else if (flagValue == "3") {
                            alert("图片上传失败！");
                        }
                        else {
//                            img.src = '';
                        }
                    }
                });
            }
            //判断是否可以拍照
            if(navigator.getUserMedia || navigator.webkitGetUserMedia){
                $("#snap").removeClass('hidden').click(function () {
                    if(crop){
                        $('.photo_area').first().removeClass('hidden');
                        $('.photo_area').last().addClass('hidden');
                        $('#ok').removeClass('hidden');
                    }else{
                        $('.photo_area').addClass('hidden');
                    }
                    var canvas = $('<canvas width="340" height="270">')[0],
                            video = document.getElementById("video"),
                            okbtn = document.getElementById("ok"),
                            videoObj = { "video": true },
                            errBack = function (error) {
                                var errmsg = error.name;
                                if(errmsg.indexOf('NotFound')>=0 ){
                                    alert('您没有摄像头设备');
                                }else{
                                    alert('未知错误');
                                }
                            };
                    if (navigator.getUserMedia) {
                        navigator.getUserMedia(videoObj, function (stream) {
                            video.src = window.webkitURL.createObjectURL(stream);
                            takePhotoCallback(video,okbtn,canvas);
                        }, errBack);
                    } else if (navigator.webkitGetUserMedia) {
                        navigator.webkitGetUserMedia(videoObj, function (stream) {
                            video.src = window.URL.createObjectURL(stream);
                            takePhotoCallback(video,okbtn,canvas);
                        }, errBack);
                    }
                });
                //video dom对象 okbtn 按钮dom canvas
                function takePhotoCallback(video,okbtn,canvas){
                    var context = canvas.getContext("2d");
                    video.play();
                    video.className='';
//                    okbtn.className='';
                    okbtn.addEventListener('click',function(){
                        context.drawImage(video,0,0,340,270);
                        if(crop){
                            options.imgSrc = canvas.toDataURL("image/png");
                            cropper = $('.imageBox').cropbox(options);
                            $('button[df-click=uploadImgClick]').removeClass('hidden');
                        }else{
                            $('.thumb-img').attr('src',canvas.toDataURL("image/png"));
//                            fileType = 'png';
//                            uploadImgFunction(uploadImgUrl+'/'+fileType,$('.thumb-img').attr('src'));
                        }
                    });
                }
            }
            //获取文件名称
            function getFileExt(str) {
                return /[^\.]+$/.exec(str);
            }
            //上传到后台
            function uploadImgFunction(url,imgData){
                if(url && imgData){
                    return DF.ajax({
                        url:url,
                        type:'post',
                        contentType:'application/x-www-form-urlencoded',
                        data:{file:encodeURI(imgData)}
                    }).done(function(result){
                        imgInfo = result.result;
                    });
                }
            }
            if(!crop){
                setTimeout(function () {
                    $('#snap').trigger('click');
                },0);
            }
            /*****************************************/
            var result = {};
            exports.getImgData = function(){
                if(cropper){
                    return  cropper.getDataURL();
                }else if(1==1){

                }else{
                    DF.toast.warning('请选择图片')
                }
            };
            exports.getImgObj = function(){
                if(imgInfo){
                    return imgInfo;
                }
            }
            exports.uploadImg = function () {
                $('#ok').trigger('click');
                return uploadImgFunction(uploadImgUrl+'/'+'png',$('.thumb-img').attr('src'));
            }
            result[selector] = exports;
            DF.callbackComponent(result);
        })(jQuery);
        ]]>
</script>
<!--  头像上传 剪裁 END -->