package ${modulePackage}.service.impl;

import java.io.Serializable;

import com.github.jyoghurt.core.service.impl.ServiceSupport;
import ${modulePackage}.dao.${replaceSuffixClassName}Mapper;
import ${modulePackage}.domain.${className};
import ${modulePackage}.service.${replaceSuffixClassName}Service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

@Service("${replaceSuffixLowerName}Service")
public class ${replaceSuffixClassName}ServiceImpl extends ServiceSupport<${className}, ${replaceSuffixClassName}Mapper> implements ${replaceSuffixClassName}Service {
	@Autowired
    private ${replaceSuffixClassName}Mapper ${replaceSuffixLowerName}Mapper;

    @Override
	public ${replaceSuffixClassName}Mapper getMapper() {
		return ${replaceSuffixLowerName}Mapper;
	}

    @Override
    public void logicDelete(Serializable id)  {
        getMapper().logicDelete(${className}.class, id);
    }

    @Override
    public ${className} find(Serializable id)  {
        return getMapper().selectById(${className}.class,id);
    }
}
