package ${modulePackage}.controller;

import javax.annotation.Resource;


import org.springframework.web.bind.annotation.*;
import com.github.jyoghurt.core.controller.BaseController;
import com.github.jyoghurt.core.handle.QueryHandle;
import com.github.jyoghurt.core.result.HttpResultEntity;
import com.github.jyoghurt.core.result.QueryResult;
import ${importPackage}.domain.${className};
import ${importPackage}.service.${replaceSuffixClassName}Service;
import org.springframework.web.bind.annotation.RequestMethod;
import com.github.jyoghurt.core.annotations.LogContent;



/**
 * ${codeName}控制器
 *
 */
@RestController
@LogContent(module = "${moduleName}")
@RequestMapping("/${replaceSuffixLowerName}")
public class ${replaceSuffixClassName}Controller extends BaseController {


	/**
	 * ${codeName}服务类
	 */
	@Resource
	private ${replaceSuffixClassName}Service ${replaceSuffixLowerName}Service;

//	/**
//	 * 列出${codeName}
//	 */
//	@LogContent("查询${codeName}")
//	@RequestMapping(value = "/list",method=RequestMethod.GET)
//	public HttpResultEntity<?> list(${className} ${lowerName} ,QueryHandle queryHandle) throws Exception {
//        return getSuccessResult(${replaceSuffixLowerName}Service.getData(${lowerName}.setDeleteFlag(false),queryHandle.configPage().addOrderBy("createDateTime",
//				"desc")));
//
//	}
//
//
//	/**
//	 * 添加${codeName}
//	 */
//	@LogContent("添加${codeName}")
//	@RequestMapping(method=RequestMethod.POST)
//	public HttpResultEntity<?> add(@RequestBody ${className} ${lowerName}) throws Exception {
//		${replaceSuffixLowerName}Service.save(${lowerName});
//        return getSuccessResult();
//	}
//
//	/**
//	 * 编辑${codeName}
//	 */
//	@LogContent("编辑${codeName}")
//	@RequestMapping(method=RequestMethod.PUT)
//	public HttpResultEntity<?> edit(@RequestBody ${className} ${lowerName}) throws Exception {
//		${replaceSuffixLowerName}Service.updateForSelective(${lowerName});
//        return getSuccessResult();
//	}
//
//	/**
//	 * 删除单个${codeName}
//	 */
//	@LogContent("删除${codeName}")
//	@RequestMapping(value = "/{${prikey}}",method=RequestMethod.DELETE)
//	public HttpResultEntity<?> logicDelete(@PathVariable String ${prikey})  throws Exception{
//		${replaceSuffixLowerName}Service.logicDelete(${prikey});
//		return getSuccessResult();
//	}
//
//    /**
//     * 查询单个${codeName}
//	 */
//	 @LogContent("查询单个${codeName}")
//	 @RequestMapping(value = "/{${prikey}}",method=RequestMethod.GET)
//	 public HttpResultEntity<?> get(@PathVariable String $prikey)  throws Exception{
//		 return getSuccessResult(${replaceSuffixLowerName}Service.find($prikey));
//	 }
}
