package ${modulePackage}.dao;

import ${modulePackage}.po.${className};
import com.github.jyoghurt.core.dao.BaseMapper;
import com.github.jyoghurt.core.dao.BaseMapperProvider;
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.SelectProvider;

import java.io.Serializable;
import java.util.List;
import java.util.Map;

/**
 * ${lowerName} Mapper
 *
 */
public interface ${lowerName}Mapper extends BaseMapper<${className}> {

    @Override
    @SelectProvider(type = BaseMapperProvider.class, method = "selectById")
    ${className} selectById(@Param(ENTITY_CLASS) Class<${className}> entityClass, @Param(ID) Serializable id);

    @SelectProvider(type = BaseMapperProvider.class, method = "pageData")
    List<${className}> pageData(@Param(ENTITY_CLASS) Class<${className}> entityClass,@Param(DATA) Map<String, Object> map);

    @Override
    @SelectProvider(type = BaseMapperProvider.class, method = "findAll")
    List<${className}> findAll(@Param(ENTITY_CLASS) Class<${className}> entityClass, @Param(DATA) Map<String, Object> data);
}
