package ${modulePackage}.controller.form;
import com.github.jyoghurt.medical.convenience.core.controller.form.BaseSearchForm;

public class ${lowerName}SearchForm extends BaseSearchForm {
	
	${feilds}
	
}
