package ${modulePackage}.service;

import com.github.jyoghurt.core.service.BaseService;
import ${modulePackage}.po.${className};

/**
 * ${codeName}服务层
 *
 */
public interface ${lowerName}Service extends BaseService<${className}> {

}
