package ${modulePackage}.service.impl;

import java.io.Serializable;

import com.github.jyoghurt.core.service.impl.ServiceSupport;
import ${modulePackage}.dao.${lowerName}Mapper;
import ${modulePackage}.po.${className};
import ${modulePackage}.service.${lowerName}Service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

@Service("${lowerName}Service")
public class ${lowerName}ServiceImpl extends ServiceSupport<${className}, ${lowerName}Mapper> implements ${lowerName}Service {
	@Autowired
    private ${lowerName}Mapper ${lowerName}Mapper;

    @Override
	public ${lowerName}Mapper getMapper() {
		return ${lowerName}Mapper;
	}

    @Override
    public void logicDelete(Serializable id)  {
        getMapper().logicDelete(${className}.class, id);
    }

    @Override
    public ${className} find(Serializable id)  {
        return getMapper().selectById(${className}.class,id);
    }
}
