<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.jyoghurt.security.securityUnitT.dao.SecurityUnitTMapper">

    <select id="findSubSecurityUnitTListByUnitId" resultType="com.github.jyoghurt.security.securityUnitT.domain.SecurityUnitT">
        select * from SecurityUnitT t where t.deleteFlag=0 and parentId in
        <foreach item="unitId" index="index" collection="unitIdList" open="(" separator="," close=")">
            #{unitId}
        </foreach>
    </select>

    <update id="logicDel">
        update SecurityUnitT t set t.deleteflag=1 where unitId in
        <foreach item="unitId" index="index" collection="unitIdList" open="(" separator="," close=")">
            #{unitId}
        </foreach>
    </update>

</mapper>