<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.jyoghurt.activiti.business.dao.MainFormMapper">
    <update id="updateMainFormState" parameterType="java.lang.String">
        update ${mainFormUpdateVo.mainFormTableName} set
        ${mainFormUpdateVo.updateColumnName}=#{mainFormUpdateVo.updateColumnValue}
        where ${mainFormUpdateVo.mainFormIdName}=#{mainFormUpdateVo.mainFormId}
    </update>
</mapper>
