package ${modulePackage}.dao;

import ${modulePackage}.po.${className}PO;
import com.github.jyoghurt.core.dao.BaseMapper;


/**
 * ${lowerName} Mapper
 *
 */
public interface ${className}Mapper extends BaseMapper<${className}PO> {

}
