package ${modulePackage}.po;

import com.github.jyoghurt.core.po.BaseEntity;
import javax.validation.constraints.NotNull;
import javax.persistence.Table;
import org.hibernate.validator.constraints.Length;
import lombok.Data;
import lombok.experimental.Accessors;

@Data
@Accessors(chain = true)
@Table(name = "${table}")
public class ${className}PO extends BaseEntity<${className}PO>{
	${feilds}
}
