package ${modulePackage}.service.impl;


import com.github.jyoghurt.core.service.impl.ServiceSupport;
import ${modulePackage}.dao.${className}Mapper;
import ${modulePackage}.po.${className}PO;
import ${modulePackage}.service.${className}Service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

@Service("${lowerName}Service")
public class ${className}ServiceImpl extends ServiceSupport<${className}PO, ${className}Mapper> implements ${className}Service {
	@Autowired
    private ${className}Mapper ${lowerName}Mapper;

    @Override
	public ${className}Mapper getMapper() {
		return ${lowerName}Mapper;
	}

}
