package ${modulePackage}.service;

import com.github.jyoghurt.core.service.BaseService;
import ${modulePackage}.po.${className}PO;

/**
 * ${codeName}服务层
 *
 */
public interface ${className}Service extends BaseService<${className}PO> {

}
