package com.xy.activity.ruleTmpl

import java.util.Map;
import java.util.List;
import com.xy.core.activity.model.RuleReturnModel;
import com.xy.core.activity.convert.DoubleConvert;
global RuleReturnModel ruleReturnModel;
global DoubleConvert doubleConvert;


rule activityRule
	auto-focus true
	//活动规则
	salience 1
	lock-on-active true
	no-loop true
	when
	$check : Map(${checkStr});
	$param : Map(${rule});
	then
        ruleReturnModel.setPass(true);
end


