<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.jyoghurt.security.securityUserUnitR.dao.SecurityUserUnitMapper">
    <!-- Result Map-->
    <resultMap id="securityUserMap" type="com.github.jyoghurt.security.securityUserUnitR.domain.SecurityUserUnitR">
        <result column="userUnitId" property="userUnitId"/>
        <result column="userIdR" property="userIdR"/>
        <result column="unitIdR" property="unitIdR"/>
        <result column="userNameR" property="userNameR"/>
        <result column="unitNameR" property="unitNameR"/>
        <result column="parentUnitId" property="parentUnitId"/>
        <result column="parentUnitName" property="parentUnitName"/>
        <result column="compType" property="compType"/>
        <collection property="underUsers" ofType="com.github.jyoghurt.security.securityUserT.domain.SecurityUserT">
            <result column="userId" property="userId"/>
            <result column="userName" property="userName"/>
            <result column="linkWay" property="linkWay"/>
            <result column="userAccount" property="userAccount"/>
            <result column="type" property="type"/>
            <result column="passwd" property="passwd"/>
            <result column="belongOrg" property="belongOrg"/>
            <result column="createTime" property="createTime"/>
            <result column="modifyTime" property="modifyTime"/>
            <result column="opperName" property="opperName"/>
            <result column="belongOrgName" property="belongOrgName"/>
        </collection>
    </resultMap>

</mapper>   
