/**
 *
 * 在原框架的基础上定义自己的CSS
 * 覆盖原来样式
 *
*/

body {
    font-family: microsoft yahei;
    font-size: 14px;
}

body.page-body .datepicker {
    z-index: 1071 !important;
}

body.page-body .datepicker select {
    z-index: 1052 !important;
}

body.page-body .datepicker option {
    z-index: 1051 !important;
}
body.page-body.lockscreen-page{
    background: #eee;
    color: #fff;
    padding-top: 0px;
}
body.page-body .locakScreen_wrapper{
    display: none;
    width: 100%;
    padding-top: 250px;
    top: 0;
    height: 100%;
    left: 0;
    z-index: 999999;
    background: #2c2e2f;
    color: #fff;
    position: absolute;
}
.center-vertical {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

/*圆角
input.btn{
	border-radius: 5px !important;
}
button.btn{
	border-radius: 5px !important;
}
a.btn{
	border-radius: 5px !important;
}
input{
	border-radius: 4px;
}
*/
body .dz-error-message {
    max-height: 105px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.sidebar-menu {
    width: 300px;
}

.sidebar-menu .main-menu {
    padding-left: 30px;
    padding-right: 30px;
}

#main-menu li {
    /*background-color:#eeeeee;
    color:#000;
    height:60px;*/
}

.navbar.horizontal-menu.navbar-fixed-top + .page-container {
    margin-top: 0;
}

#main-content-view {
    margin-top: 85px;
    padding-bottom: 45px;
}

#chat > div.chat-inner {
    margin-top: 85px;
}

table thead tr th{
    font-weight: normal;
    color: #333 !important;
    white-space: nowrap;
}
table thead tr th:not(:last-child){
    cursor: pointer;
}
table thead tr th:active {
    outline: none;
}

.df_datatable_toolbar button.btn i {
    margin-left: 4px;
}

.df_datatable_toolbar .btn + .btn {
    margin-right: 5px;
    margin-left: 0;
}

form .placeholder {
    text-align: right;
    /* etc */
}

form .form-group input.error {
    border-color: #cc3f44;
    color: #cc3f44;
}

/**
*多选
*/
form .form-group div.select2-container.error {
    border-color: #cc3f44;
    color: #cc3f44;
}

form .form-group label.error {
    color: #D05E5E;
    background: #fff2f5;
    padding: 3px 10px;
    font-size: 11px;
    margin-top: 5px;
}

i.poiner {
    cursor: pointer;
}

i.placeholder {
    color: #ccc;
}

i.icon-left {
    left: 0;
}

i.icon-right {
    right: 42px !important;
}

/**
*   //TODO 这个样式有问题全局污染
*/
form .form-group i {
    /*font-weight: normal;*/
    /*position: absolute;*/
    /*top: 9px;*/
    /*right: 25px;*/
}

form .form-group {
    min-height: 50px;
    position: relative;
}

.width220 {
    width: 220px
}

.selectboxit-option, .selectboxit-optgroup-header {
    text-indent: 0;
}
.selectboxit-list>.selectboxit-focus>.selectboxit-option-anchor{
    color: #333;
    background-color: #eee;
    border-radius: 0 !important;
}
.form-group > label.control-label {
    display: none !important;
}

.form-group span.DF-placeHolder {
    position: absolute;
    top: 3px;
    padding: 3px;
    color: #999;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-group input.form-control {
    padding-right: 100px;
}

.form-group textarea.form-control {
    /*padding-right: 100px;*/
}

.form-group span.form-control {
    padding-right: 100px;
}

.form-group div.form-control {
    /*padding-right: 100px;*/
}

.form-group span.DF-placeHolder.pleft {
    left: 9px;
    right: auto;
}

.form-group span.DF-placeHolder.pright {
    right: 25px;
    left: auto;
}

.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.ml10{
    margin-left: 10px;
}
.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.pb0 {
    padding-bottom: 0;
}
.pb10 {
    padding-bottom: 10px;
}

.pt0 {
    padding-top: 0;
}
.pd0{
    padding: 0;
}
.inline-display{
    display: inline-block;
}
.redPoint {
    color: red;
}

.welcomePage img {
    width: 100%;
    height: 100%;
}

table thead tr th.width130 {
    width: 130px;
}

.lymsgitem {
    position: relative;
}

.lymsgitem_body {
    width: 318px;
    height: 160px;
    line-height: 160px;
    background-color: #eee;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.lymsgitem_list_body {
    width: 318px;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    float: left;
    padding: 20px 14px;
    border-top: none;
}

.lymsgitem_create {
    width: 318px;
    position: relative;
    text-align: center;
    font-size: 16px;
    clear: both;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    padding: 20px;
    border-top: none;
}

.lymsgitem_list_body i {
    font-size: 48px;
}

.lymsg_dash {
    opacity: 0.6;
    border: 2px dashed;
}

.lymsg_dash:hover {
    cursor: pointer;
    opacity: 1;
}

.lymsgitem_title {
    text-align: left;
    line-height: 30px;
    max-height: 60px;
    position: absolute;
    display: flex;
    width: 100%;
    padding: 0 15px;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.6) !important;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endcolorstr='#99000000')
}

.lymsgitem_mask {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(46, 46, 46, 0.70) !important;
    text-align: center;
    opacity: 1;
}

.lymsgitem_mask i {
    font-size: 32px;
    line-height: 48px;
    position: absolute;
    color: #f5f5f5;
    left: 140px;
    cursor: pointer;
}

.lymsgitem_mask i:hover {
    color: #8dc63f;
}

.lymsgitem_mask i.left25 {
    left: 25%;
}

.lymsgitem_mask i.left60 {
    left: 60%;
}

.lymsgitem_title2 {
    max-width: 198px;
    line-height: 28px;
    float: left;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    max-height: 56px;
    color: #444;
    overflow: hidden;
}

.lymsg_thumb {
    height: 78px;
    line-height: 78px;
    background-color: #eee;
    /* border: 1px solid #d2d2d2; */
    width: 78px;
    text-align: center;
    font-size: 14px;
    float: right;
}

img.lymsg_thumb {
    height: 78px;
    display: none;
    line-height: 78px;
    background-color: #fff;
    width: 78px;
    text-align: center;
    font-size: 14px;
    float: right;
}

.fluid_wrapper .lymsgview {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    width: 318px;
}

.fluid_wrapper .lymsgview .lymsgitem_body a {
    color: #FFF;
}

.fluid_wrapper .lymsgview .lymsgitem_body a:hover {
    text-decoration: underline;
}

.fluid_wrapper .lymsgview .lymsgitem_list_body a:hover {
    text-decoration: underline;
}

.fluid_wrapper .lymsgview .lymsgitem_body {
    width: 288px !important;
}

.fluid_wrapper .lymsgview_mask {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 46, 46, 0.70) !important;
    text-align: center;
    opacity: 1;
}

.fluid_wrapper .lymsgview_mask i {
    color: #fff;
    font-size: 32px;
    position: absolute;
    right: 0;
    top: 0;
}

.fluid_wrapper .lymsgview_forone {
    padding: 10px 14px;
    display: inline-block;
    border: 1px solid #DDD;
    padding-bottom: 10px;
}

.fluid_wrapper .lymsgview_forone_title {
    line-height: 18px;
    font-size: 16px;
    color: #222;
    margin-bottom: 5px;
    text-align: left;
}

.fluid_wrapper .lymsgview_forone_title a:hover {
    text-decoration: underline;
}

.fluid_wrapper .lymsgview_forone_date {
    text-align: left;
    margin-bottom: 5px;
}

div.dropzone {
    max-width: 900px;
    min-height: 120px;
    background-color: #eee;
    text-align: center;
    min-width: 120px;
    max-height: 500px;
    width: 150px;
    padding: 0;
    margin-bottom: 15px;
}

div.dropzone .dz-default.dz-message {
    display: none !important;
}

label.filelabel {
    display: block !important;
    white-space: nowrap;
    width: 150px;
    padding: 0;
}

.lymsgitem_list_body.active {
    margin-bottom: 8px;
    box-shadow: rgb(160, 160, 160) -8px 8px 15px;
    transition: all .5s;
}

.lymsgitem_body.active {
    margin-bottom: 8px;
    box-shadow: rgb(160, 160, 160) -8px 8px 15px;
    transition: all .5s;
}

i.df_arrow {
    -webkit-font-smoothing: antialiased;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: dashed;
    border-bottom-width: 12px;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: dashed;
    border-left-width: 0px;
    border-right-color: rgb(220, 23, 23);
    border-right-style: solid;
    border-right-width: 12px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: dashed;
    border-top-width: 12px;
    color: rgb(34, 34, 34);
    display: inline-block;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    font-style: italic;
    line-height: 22.3999996185303px;
    position: absolute;
    top: 44px;
    width: 0px;
    word-wrap: break-word;
    margin-top: 0px;
    height: 0px;
}

i.df_arrow.arrow_out {
    left: 0px;
    border-right-color: #e7e7eb;
}

i.df_arrow.arrow_in {
    left: 1px;
    border-right-color: #f4f5f9;
}

.inner {
    position: relative;
    border: 1px solid #d2d2d2;
    padding: 30px 20px 0 20px;
}

.innerbody {
    min-height: 100px;
}

.innerbody .leftContent {
}

.innerbody img {

}

.innerbody .sublist {
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
    margin-top: 10px;
}

.lymsg_word {
    width: 100%;
    outline: none;
    border: 1px solid #d2d2d2;
    padding: 14px 20px;
    color: #222;
    resize: none;
}

.lymsg_toolbar {

}

.lymsg_tab a {
    padding: 5px;
    cursor: pointer;
}

.lymsg_tab a:hover {
    border-bottom: 3px solid #ddd;
    text-decoration: none;
}

.lymsg_tab a.active {
    border-bottom: 3px solid #8dc63f;
    text-decoration: none;
}

/**
*覆盖dropzone原有样式 去掉图片大小
*begin
*/
.dropzone .dz-preview .dz-details {
    margin-bottom: 0;
}

.dropzone a.dz-remove {
    margin-top: 0;
}

.dropzone .dz-preview .dz-details .dz-size {
    display: none !important;
}

/*只读form样式*/
/*input标签的只读样式*/
/*所有input标签去边框*/
form.DF-form-readonly div.form-group.readonly {
    /*border-bottom-color: #dcdcdc !important;*/
    /*border-bottom-style: dashed;*/
    /*border-bottom-width: 1px !important;*/
    /*padding-top: 9px;*/
}

/*input标签的只读样式*/
/*所有input标签去边框*/
form.DF-form-readonly div.form-group.readonly>input {
    border: medium none;
    color: #696969;
    padding-left: 18%;
    padding-right: 0 !important;
    background-color: #fff !important;
    border-bottom: 1px solid #ddd;
    text-align: left;
    cursor: text;
}
.workflow-business-form form.DF-form-readonly div.form-group.readonly>input {
    text-align: center;
}
/*span标签的只读样式*/
/*span标签的颜色及位置*/
form.DF-form-readonly div.form-group.readonly span.DF-placeHolder.pleft {
    color: #999;
    left: 8px;
    /*padding-top: 12px;*/
    width: 30%;
}

/*单选，复选只读样式*/
/*去除箭头*/
form.DF-form-readonly div.form-group.readonly span.selectboxit-arrow-container {
    display: none !important;
}
/*去除单，复选combobox的边框*/
form.DF-form-readonly div.form-group.readonly span.selectboxit-container {
    border-bottom: 1px solid #ddd;
}
/*去除单，复选combobox的边框*/
form.DF-form-readonly div.form-group.readonly span.selectboxit {
    border: none;
}

form.DF-form-readonly div.form-group.readonly span.selectboxit-text {
    border: none;
    padding-left: 20%;
    color: #2a2a2a !important;
    cursor: text;
    -webkit-user-select: initial;
}

/*修改复选框显示位置*/
form.DF-form-readonly div.form-group.readonly ul.select2-choices {
    border: none;
    padding-left: 17%;
}

/*只读复选框背景及边框控制*/
form.DF-form-readonly div.form-group.readonly li.select2-search-choice {
    border: none;
    color: #fff !important;
}

form.DF-form-readonly div.form-group.readonly div.select2-container {
    border: none;
    border-bottom: 1px solid #ddd;
}

/*去除文本域框*/
form.DF-form-readonly div.form-group.readonly textarea {
    border: none;
    padding-left: 15%;
    padding-right: 0px !important;
    background-color: #fff !important;
    resize: none;
}

/*span右侧显示*/
.span-odd {
    float: right;
}

.span-left {
    float: none !important;
}

/*消息闪动*/
.point_flash {
    animation: active_oneimg 1s 0s infinite both;
    -moz-animation: active_oneimg 1s 0s infinite both;
    -webkit-animation: active_oneimg 1s 0s infinite both;
    -o-animation: active_oneimg 1s 0s infinite both
}

.point_flash_chat {
    animation: active_comments 1s 0s infinite both;
    -moz-animation: active_comments 1s 0s infinite both;
    -webkit-animation: active_comments 1s 0s infinite both;
    -o-animation: active_comments 1s 0s infinite both;
}

@keyframes active_comments {
    0% {
        color: #979898;
        font-size: 15px;
    }
    25% {
        font-size: 20px;
    }
    50% {
        color: #8dc63f;
        font-size: 25px;
    }
    75% {
        font-size: 20px;
    }
    100% {
        color: #979898;
        font-size: 15px;
    }
}

@-moz-keyframes active_comments {
    0% {
        color: #979898;
        font-size: 15px;
    }
    25% {
        font-size: 20px;
    }
    50% {
        color: #8dc63f;
        font-size: 25px;
    }
    75% {
        font-size: 20px;
    }
    100% {
        color: #979898;
        font-size: 15px;
    }
}

@-webkit-keyframes active_comments {
    0% {
        color: #979898;
        font-size: 15px;
    }
    25% {
        font-size: 20px;
    }
    50% {
        color: #8dc63f;
        font-size: 25px;
    }
    75% {
        font-size: 20px;
    }
    100% {
        color: #979898;
        font-size: 15px;
    }
}

/*微信样式 */
.groupDiv {

}

/*微信tab*/

.tab::after {
    border-bottom: 1px solid #979898;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.tab {
    overflow: hidden;
    padding-bottom: 8px;
    position: relative;
}

.tab .tab_item::after {
    border-right: 1px solid #979898;
    content: "";
    height: 20px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 0;
}

.tab .tab_item {
    float: left;
    padding-top: 6px;
    position: relative;
    width: 33.33333%;
}

.tab .tab_item a {
    display: block;
    text-align: center;
}

.tab .tab_item.no_extra::after {
    border-right: 0 none;
}

.web_wechat_tab_chat_hl {
    color: #8dc63f;
}

.web_wechat_tab_chat {
    display: inline-block;
    height: 35px;
    vertical-align: middle;
    border: medium solid #000;
    width: 35px;
}

.web_wechat_tab_public {
    display: inline-block;
    height: 35px;
    vertical-align: middle;
    border: medium solid #000;
    width: 35px;
}

/*搜索样式*/

.search_bar {
    margin: 20px 0 8px auto;
    position: relative;
    width: 244px;
    display: table;
}

.search_bar .web_wechat_search {
    position: absolute;
    top: 1px;
    z-index: 101;
}

.web_wechat_search {
    display: inline-block;
    font-size: 15px;
    height: 30px;
    padding-left: 7px;
    padding-top: 8px;
    vertical-align: middle;
    width: 30px;
}

.search_bar .frm_search {
    background-color: #979898;
    border: 0 none;
    border-radius: 2px;
    color: #000;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding-left: 30px;
    width: 214px;
}

/*微信对话框样式*/
.chat-conversation .conversation-body li.style {
    background: #eee none repeat scroll 0 0;
    margin: 0;
    padding: 0px 15px !important;
}

.bubble.left::before, .bubble.left::after {
    right: 100%;
}

.bubble.left::after {
    border-right-color: #fff;
    border-right-width: 4px;
}

.bubble.left::before, .bubble.left::after {
    right: 100%;
}

.bubble::before, .bubble::after {
    border: 6px solid transparent;
    content: " ";
    position: absolute;
    top: 14px;
}

.bubble.bubble_default {
    background-color: #fff;
}

.bubble.right::after {
    border-left-color: #fff;
}

.bubble.right::before, .bubble.right::after {
    left: 100%;
}

.bubble.bubble_primary.right::after {
    border-left-color: #b2e281;
    border-left-width: 4px;
}

.bubble.right::after {
    border-left-color: #fff;
}

.bubble.bubble_primary {
    background-color: #b2e281;
    overflow: hidden;
}

.bubble_cont {
    min-height: 25px;
    word-break: break-all;
    word-wrap: break-word;
}

.bubble {
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
    max-width: 200px;
    min-height: 1em;
    position: relative;
    text-align: left;
    vertical-align: top;
}

.bubble_primary.pre {
    background-color: #b2e281 !important;
    border: none !important;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: initial;
    overflow: hidden;
}

.bubble_default.pre {
    background-color: #fff !important;
    border: none !important;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: initial;
    overflow: hidden;
}

.message {
    float: right;
    margin-bottom: 16px;
    width: 100%;
}

.message.me {
    text-align: right;
}

.message.me .avatar {
    float: right;
}

.message .avatar {
    border-radius: 2px;
    cursor: pointer;
    float: left;
    height: 40px;
    width: 40px;
}

.message_system {
    margin: 10px auto;
    max-width: 60%;
    text-align: center;
}

.message_system .content {
    background-color: #dcdcdc;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 1px 18px;
}

.message .content {
    overflow: hidden;
}

.message .nickname {
    color: #4f4f4f;
    font-size: 11px;
    font-weight: 400;
    height: 18px;
    line-height: 24px;
    overflow: hidden;
    padding-right: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin-top: 0px;
}

@keyframes active_oneimg {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100)
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=0)
    }
}

@-moz-keyframes active_oneimg {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100)
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=0)
    }
}

@-webkit-keyframes active_oneimg {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100)
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=0)
    }
}

/*加载更多button 边框及字体颜色*/
.btn.btn-white.btn-load {
    background-color: #ffffff;
    border: none;
    color: #979898;
}

/*悬浮显示小手*/
.suspend {
    cursor: pointer;
}

/*自定义菜单样式*/
/*带尖的样式*/
.speech-bubble {
    color: #e7e7eb;
    line-height: 37px;
}

.speech-bubble:after {
    border: 8px solid;
    content: "";
    position: absolute;
}

.speech-bubble-bottom:after {
    border-top-color: #ffffff;
    margin-left: -8px;
}

.speech-bubble-bottom-readonly:after {
    border-top-color: #c0c0c0;
    margin-left: -8px;
}

/*不可编辑li样式*/
.li-readonly {
    background: #c0c0c0 none repeat scroll 0 0;
}

/*底部样式*/
/*ul样式*/
.ul-bottom-control {
    background: #FFFFFF;
    overflow: hidden;
    padding: 0;
}

.li-buttom-control {
    border: 1px solid #e7e7eb;
    float: left;
    line-height: 37px;
    text-align: center;
    list-style: outside none none;
    width: 33.3%;
}

.a-buttom-control {
    display: block;
}

/*二级菜单样式*/
.div-secondary-menu {
    background: #ffffff none repeat scroll 0 0;
    bottom: 60px;
    display: block;
    position: absolute;
    width: 33%;
}

.ul-secondary-menu {
    list-style: outside none none;
    padding: 0;
}

.li-secondary-menu {
    border-bottom: 1px solid #c0c0c0;
}

.menuActive {
    border: 2px solid #8dc63f;
}

/**
*end
*/

td.details-control {
    width: 10px;
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

.lymow.left-view {
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(51, 51, 51);
    overflow: hidden;
    width: 340px;
    display: inline-block;
    line-height: 18px;
    text-align: start;
    background: url('../img/wx/phone.png') 0% 0% no-repeat;
}

.mt {
    display: none;
}

.wxTmpl.gallery-env .album-images .album-image .thumb img {
    width: 192px;
    height: 283px;
}

#chat i.fa-wechat {
    font-size: 15px;
    top: 10px;
    cursor: pointer;
    position: absolute;
    color: #979898;
    right: 13px;
    vertical-align: middle;
    line-height: 20px;
}

#chat i.fa-wechat-readonly {
    font-size: 15px;
    top: 10px;
    cursor: pointer;
    position: absolute;
    color: #979898;
    right: 13px;
    vertical-align: middle;
    line-height: 20px;
}

#chat i.fa-wechat:hover {
    color: #8dc63f;
}

#phone div.second_menu_option {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-collapse: collapse;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: 'microsoft yahei';
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin: 0px;
    max-height: 60px;
    overflow: hidden;
    padding: 0 15px;
    position: absolute;
    text-align: left;
    width: 100%;
}

#phone div.second_menu_option .hover:hover {
    color: #8dc63f;
}

#phone iframe body {
    margin: 0;
    padding: 0;
}

#treeview {
    padding: 0 10px;
}

#treeview .k-treeview .k-sprite, .k-treeview .k-image {
    margin-right: 3px;
    margin-bottom: 2px;
    vertical-align: middle;
}

#treeview span.k-state-selected {
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    vertical-align: middle;
    background-color: #8dc63f;
    background-image: none;
}

#treeview span.k-state-hover {
    border-radius: 0;
    background-image: none;
    border: 1px solid #8dc63f;
    box-shadow: none;
}

/**
*DF_tree
*/
.DF_tree li {
    padding: 10px 15px !important;
}

#fwv-2 {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

/*#roleTree {*/
    /*padding: 0 30px;*/
    /*border-left: 1px solid #ddd;*/
/*}*/

/*#roleTree span.k-in {*/
    /*padding-left: 14px;*/
/*}*/

/*#menuTree ul li {*/
    /*padding: 8px 15px !important;*/
/*}*/


.workflow-business-form form.DF-form-readonly div.form-group.readonly .selectboxit-text{
    text-align: center;
    float: none;
}
.workflow-business-form form.DF-form-readonly .form-group.readonly span.form-control {
    padding-right: 0;
}
.workflow-business-form form.DF-form-readonly div.form-group.readonly .select2-container{
    padding-right: 0 !important;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.workflow-business-form form.DF-form-readonly div.form-group.readonly .select2-choices{
    display: inline-block;
}
/**
*覆盖树在下拉菜单的样式||下拉树样式
*/
.selectboxit-container .selectboxit-options .ztree li a {
    margin-top: 0;
    display:inline-block;
}
.selectboxit-container .selectboxit-options .ztree li span.node_name{
    line-height:26px;
    display:inline-block;
}
.selectboxit-container .selectboxit-options .ztree li span.ico_docu{
    margin-top:6px;
}
/*覆盖xenon响应式布局*/
@media screen and (max-width: 768px) {
    /*聊天好友列表手机端样式*/
    .page-container #chat {
        left: auto;
        margin: 0;
        width: 100%;
        z-index: 9999;
    }

    /*聊天窗口手机端样式*/
    #chat .chat-conversation, #chat.fixed .chat-conversation {
        margin: 0px;
        max-height: 100%;
        overflow: hidden;
        position: fixed;
        top: 0 !important;
        width: 100%;
        z-index: 9999;
    }

    #chat > div.chat-inner {
        margin-top: 20px;
    }

    .search_bar {
        display: table;
        margin: 20px auto;
        position: relative;
        width: 75%;
    }

    .mobel_telnav_pc {
        display: none !important;
    }

    /*手机端公告列表样式*/
    .mobelNotice .mobel_telnav_pc {
        margin: 10px 7px;
        padding: 0px;
        float: left;
        width: 100%;
        z-index: 9999;
        display: block !important;
    }

    .mobelNotice .moble_telbtn_pc {
        margin: 0px 0px 4px;
        padding: 0px;
        float: left;
        width: 95%;
        height: 64px;
        overflow: hidden;
        cursor: pointer;
        background: rgba(63, 100, 121, 0.701961);
    }

    .mobelNotice .moble_title_pc {
        padding: 0px;
        float: left;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 12px 0px 0px 10px;
        color: rgb(243, 243, 243);
        width: 30%;
        height: 60px;
    }

    .moble_time {
        margin: 10px 0px 0px 0px;
        padding: 0px;
        float: left;
        display: inline-block;
        width: 55%;
        height: 60px;
        font-size: 10px;
        color: rgb(199, 199, 199);
    }

    .mobelNotice .moble_content_pc {
        margin: 20px 0px 0px 0px;
        padding-left: 20px;
        float: left;
        display: inline-block;
        width: 55%;
        height: 60px;
        font-size: 10px;
        color: rgb(199, 199, 199);
    }

    .mobelNotice .moble_icon_pc div {
        margin: 0px;
        padding: 0px;
        float: left;
        display: inline-block;
        width: 15%;
        height: 60px;
    }

    .mobelNotice .moble_icon_pc img {
        border: 0px none;
        vertical-align: middle;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: 20px;
    }

    .mobelNotice {

    }
    .mobelNotice .page-container {
        display: none !important;
    }
    .mobelNotice.navbar{
        display: none !important;
    }
    .mobel_scroller {
        background: #555;
        position: relative;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        float: left;
        width: 100%;
        padding: 0;
    }

    /**
     *
     * 下拉样式 Pull down styles
     *
     */
    .mobel_pullDown, .mobel_pullUp {
        background: #555;
        height: 40px;
        line-height: 40px;
        padding: 5px 10px;
        border-bottom: 0px;
        font-weight: bold;
        font-size: 14px;
        color: #888;
    }

    .mobel_pullDown .pullDownIcon, .mobel_pullUp .pullUpIcon {
        display: block;
        float: left;
        width: 40px;
        height: 40px;
        background: url('../img/wx/pull-icon@2x.png') 0 0 no-repeat;
        -webkit-background-size: 40px 80px;
        background-size: 40px 80px;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 250ms;
    }

    .mobel_pullDown .mobel_pullDownIcon {
        -webkit-transform: rotate(0deg) translateZ(0);
    }

    .mobel_pullUp .mobel_pullUpIcon {
        display: block;
        float: left;
        height: 40px;
        width: 40px;
        -webkit-transform: rotate(-180deg) translateZ(0);
    }

    .mobel_pullDown.flip .mobel_pullDownIcon {
        -webkit-transform: rotate(-180deg) translateZ(0);
    }

    .mobel_pullUp.flip .mobel_pullUpIcon {
        -webkit-transform: rotate(0deg) translateZ(0);
    }

    .mobel_pullDown.loading .mobel_pullDownIcon, .mobel_pullUp.loading .mobel_pullUpIcon {
        background-position: 0 100%;
        -webkit-transform: rotate(0deg) translateZ(0);
        -webkit-transition-duration: 0ms;

        -webkit-animation-name: loading;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }

    @-webkit-keyframes loading {
        from {
            -webkit-transform: rotate(0deg) translateZ(0);
        }
        to {
            -webkit-transform: rotate(360deg) translateZ(0);
        }
    }
    .mobel-close {

    }

    .mobel-close a {

    }
    .mobel-close i {
        float: right;
        padding: 5px;
        color: #ffffff
    }
}
/**
*datatable 样式 begin
*/
.dataTables_paginate .jump_wrapper{
    display: inline-block;
    margin: 18px 0;
    margin-left: 30px;
    vertical-align: top;
}
.dataTables_paginate .jump_wrapper input{
    width: 60px;
    text-align: center;
    padding: 0;
    height: 34px;
}
.dataTables_paginate .jump_wrapper button{
    margin-bottom:0;
    height:34px;
}
.dataTables_wrapper{
    position: relative;
    clear: both;
    zoom: 1;
}
.dataTables_wrapper .dataTables_processing{
    display: none;
    position: absolute;
    top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 8px;
    text-align: center;
    font-size: 1.2em;
    background-color: #BF9696;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(222, 212, 212, 0.9) 25%, rgba(162, 162, 162, 0.9) 75%, rgba(255,255,255,0) 100%);
}
/**
*datatable 样式 end
*/
/**
*select2 searable 样式 begin
*/
html .select2-container .select2-choice{
    position: static;
    height:28px;
    -webkit-border-radius:5px !important;
    -moz-border-radius:5px !important;
    border-radius:5px !important;
}
html .select2-container .select2-choice .select2-arrow{
    border: none;
    background: #fff;
    width: 30px;
    -webkit-border-radius:5px !important;
    -moz-border-radius:5px !important;
    border-radius:5px !important;
}
html .select2-container.select2-dropdown-open .select2-arrow {
    border-left: 1px solid #fff!important;
    -webkit-border-radius:5px !important;
    -moz-border-radius:5px !important;
    border-radius:5px !important;
}
.form-control.select2-container.select2-dropdown-open{
    -webkit-border-radius:5px !important;
    -moz-border-radius:5px !important;
    border-radius:5px !important;
}
html .select2-container .select2-choice .select2-arrow, html .select2-container .select2-choice .select2-chosen, html .select2-container .select2-choice .select2-search-choice-close{
    line-height: 30px;
}
html .select2-drop .select2-input{
    padding: 5px 15px;
    background: #fff;
}
html .select2-drop .select2-search:after{
    padding: 5px 15px;
}
html .select2-drop .select2-results li.select2-highlighted{
    background-color: #eee;
}
html .select2-drop .select2-results li .select2-result-selectable.select2-highlighted .select2-result-label, html .select2-drop .select2-results li.select2-highlighted .select2-result-label{
    color: #333;
}
.select2-container.select2-container-disabled .select2-choice{
    border: none;
}
.select2-results li{
    width: 100%;
}
form.DF-form-readonly .select2-container .select2-choice .select2-chosen{
    padding-left: 21%;
}
form.DF-form-readonly .select2-container.select2-container-disabled .select2-choice .select2-arrow{
    display: none !important;
}
form.DF-form-readonly span.text-danger{
    display: none !important;
}
/**
*select2 searable 样式 end
*/
.senior_wrapper{
    margin-bottom: 10px;
}